<div class="familiarfaces">
  <div class="arrow-left" ng-click="clickedLeft()">
    <i class="fa fa-caret-left blue-font" aria-hidden="true"></i>
  </div>
  <div class="faces face1 inline-block comeRight">
    <span class="headshot">
      <img class="face" src="images/mark-headshot.jpg" alt="" />
    </span>
    <div class="face_information">
      <div class="top yellow-bg">
        <div class="age yellow-bg">
          <h3 class="blue-font">32 y.o.</h3>
        </div>
        <div class="networth blue-bg">
          <h3 class="yellow-font">$53.7 billion net worth</h3>
        </div>
      </div>
      <div class="info yellow-bg">
        <p class="blue-font">Mark Elliot Zuckerberg (born May 14, 1984) is an
          American programmer, Internet entrepreneur, executive, and philanthropist.
          He is the Chairman, Chief Executive Officer, and co-founder of social
          networking website Facebook. His net worth is estimated to be US$53.7
          billion as of August 2016, ranking him as the 5th richest person in
          the world.</p>
      </div>
    </div>
  </div>
  <div class="faces face2 none">
    <span class="headshot">
      <img class="face" src="images/mark-headshot.jpg" alt="" />
    </span>
    <div class="face_information">
      <div class="top yellow-bg">
        <div class="age yellow-bg">
          <h3 class="blue-font">{{slideNum}}</h3>
        </div>
        <div class="networth blue-bg">
          <h3 class="yellow-font">slide 2</h3>
        </div>
      </div>
      <div class="info yellow-bg">
        <p class="blue-font">Mark Elliot Zuckerberg (born May 14, 1984) is an
          American programmer, Internet entrepreneur, executive, and philanthropist.
          He is the Chairman, Chief Executive Officer, and co-founder of social
          networking website Facebook. His net worth is estimated to be US$53.7
          billion as of August 2016, ranking him as the 5th richest person in
          the world.</p>
      </div>
    </div>
  </div>
  <div class="faces face3 none">
    <span class="headshot">
      <img class="face" src="images/mark-headshot.jpg" alt="" />
    </span>
    <div class="face_information">
      <div class="top yellow-bg">
        <div class="age yellow-bg">
          <h3 class="blue-font">{{slideNum}}</h3>
        </div>
        <div class="networth blue-bg">
          <h3 class="yellow-font">slide 3</h3>
        </div>
      </div>
      <div class="info yellow-bg">
        <p class="blue-font">Mark Elliot Zuckerberg (born May 14, 1984) is an
          American programmer, Internet entrepreneur, executive, and philanthropist.
          He is the Chairman, Chief Executive Officer, and co-founder of social
          networking website Facebook. His net worth is estimated to be US$53.7
          billion as of August 2016, ranking him as the 5th richest person in
          the world.</p>
      </div>
    </div>
  </div>
  <div class="faces face4 none">
    <span class="headshot">
      <img class="face" src="images/mark-headshot.jpg" alt="" />
    </span>
    <div class="face_information">
      <div class="top yellow-bg">
        <div class="age yellow-bg">
          <h3 class="blue-font">{{slideNum}}</h3>
        </div>
        <div class="networth blue-bg">
          <h3 class="yellow-font">slide 4</h3>
        </div>
      </div>
      <div class="info yellow-bg">
        <p class="blue-font">Mark Elliot Zuckerberg (born May 14, 1984) is an
          American programmer, Internet entrepreneur, executive, and philanthropist.
          He is the Chairman, Chief Executive Officer, and co-founder of social
          networking website Facebook. His net worth is estimated to be US$53.7
          billion as of August 2016, ranking him as the 5th richest person in
          the world.</p>
      </div>
    </div>
  </div>
  <div class="faces face5 none">
    <span class="headshot">
      <img class="face" src="images/mark-headshot.jpg" alt="" />
    </span>
    <div class="face_information">
      <div class="top yellow-bg">
        <div class="age yellow-bg">
          <h3 class="blue-font">{{slideNum}}</h3>
        </div>
        <div class="networth blue-bg">
          <h3 class="yellow-font">slide 5</h3>
        </div>
      </div>
      <div class="info yellow-bg">
        <p class="blue-font">Mark Elliot Zuckerberg (born May 14, 1984) is an
          American programmer, Internet entrepreneur, executive, and philanthropist.
          He is the Chairman, Chief Executive Officer, and co-founder of social
          networking website Facebook. His net worth is estimated to be US$53.7
          billion as of August 2016, ranking him as the 5th richest person in
          the world.</p>
      </div>
    </div>
  </div>
  <div class="faces face6 none">
    <span class="headshot">
      <img class="face" src="images/mark-headshot.jpg" alt="" />
    </span>
    <div class="face_information">
      <div class="top yellow-bg">
        <div class="age yellow-bg">
          <h3 class="blue-font">{{slideNum}}</h3>
        </div>
        <div class="networth blue-bg">
          <h3 class="yellow-font">slide 6</h3>
        </div>
      </div>
      <div class="info yellow-bg">
        <p class="blue-font">Mark Elliot Zuckerberg (born May 14, 1984) is an
          American programmer, Internet entrepreneur, executive, and philanthropist.
          He is the Chairman, Chief Executive Officer, and co-founder of social
          networking website Facebook. His net worth is estimated to be US$53.7
          billion as of August 2016, ranking him as the 5th richest person in
          the world.</p>
      </div>
    </div>
  </div>
  <div class="arrow-right" ng-click="clickedRight()">
    <i class="fa fa-caret-right blue-font" aria-hidden="true"></i>
  </div>
</div>
