<div class="familiarfaces">
  <div class="arrow-left" ng-click="clickedLeft()">
    <i class="fa fa-caret-left blue-font" aria-hidden="true"></i>
  </div>
  <div class="faces face1 inline-block">
    <span class="headshot">
      <img class="face" src="images/mark-headshot.jpg" alt="" />
    </span>
    <div class="face_information">
      <div class="top yellow-bg">
        <div class="age yellow-bg">
          <h3 class="blue-font">32 y.o.</h3>
        </div>
        <div class="networth blue-bg">
          <h3 class="yellow-font">$53.7 billion net worth</h3>
        </div>
      </div>
      <div class="info yellow-bg">
        <p class="blue-font">Mark Elliot Zuckerberg (born May 14, 1984) is an
          American programmer, Internet entrepreneur, executive, and philanthropist.
          He is the Chairman, Chief Executive Officer, and co-founder of social
          networking website Facebook. His net worth is estimated to be US$53.7
          billion as of August 2016, ranking him as the 5th richest person in
          the world. <span class="block">- Wikipedia</span></p>
      </div>
    </div>
  </div>
  <div class="faces face2 none">
    <span class="headshot">
      <img class="face" src="images/tim-headshot.jpg" alt="" />
    </span>
    <div class="face_information">
      <div class="top yellow-bg">
        <div class="age yellow-bg">
          <h3 class="blue-font">55 y.o.</h3>
        </div>
        <div class="networth blue-bg">
          <h3 class="yellow-font">$785 million net worth</h3>
        </div>
      </div>
      <div class="info yellow-bg">
        <p class="blue-font">Timothy Donald "Tim" Cook (born November 1, 1960)
          is an American business executive, industrial engineer and developer.
          Cook is the current and seventh Chief Executive Officer of Apple Inc.,
          previously serving as the company's Chief Operating Officer, under its
          founder Steve Jobs. <span class="block">- Wikipedia</span></p>
      </div>
    </div>
  </div>
  <div class="faces face3 none">
    <span class="headshot">
      <img class="face" src="images/sheryl-headshot.jpg" alt="" />
    </span>
    <div class="face_information">
      <div class="top yellow-bg">
        <div class="age yellow-bg">
          <h3 class="blue-font">47 y.o.</h3>
        </div>
        <div class="networth blue-bg">
          <h3 class="yellow-font">$1.31 billion net worth</h3>
        </div>
      </div>
      <div class="info yellow-bg">
        <p class="blue-font">Sheryl Kara Sandberg (born August 28, 1969) is an
          American technology executive, activist, and author. She is the Chief
          Operating Officer of Facebook and founder of Leanin.org (also known as
          the Lean In Foundation). In June 2012, she was elected to the board of
          directors by the existing board members, becoming the first woman to
          serve on Facebook's board. <span class="block">- Wikipedia</span></p>
      </div>
    </div>
  </div>
  <div class="faces face4 none">
    <span class="headshot">
      <img class="face" src="images/jack-headshot.jpg" alt="" />
    </span>
    <div class="face_information">
      <div class="top yellow-bg">
        <div class="age yellow-bg">
          <h3 class="blue-font">39 y.o.</h3>
        </div>
        <div class="networth blue-bg">
          <h3 class="yellow-font">$1.1 billion net worth</h3>
        </div>
      </div>
      <div class="info yellow-bg">
        <p class="blue-font">Jack Dorsey (born November 19, 1976) is an American
          computer programmer and internet entrepreneur widely known as a
          co-founder and CEO of Twitter, and as the founder and CEO of Square,
          a mobile payments company. In 2008, he was named to the MIT Technology
          Review TR35 as one of the top 35 innovators in the world under the age
          of 35. For 2012, The Wall Street Journal gave him the "Innovator of
          the Year Award" for technology. <span class="block">- Wikipedia</span></p>
      </div>
    </div>
  </div>
  <div class="faces face5 none">
    <span class="headshot">
      <img class="face" src="images/david-headshot.jpg" alt="" />
    </span>
    <div class="face_information">
      <div class="top yellow-bg">
        <div class="age yellow-bg">
          <h3 class="blue-font">30 y.o.</h3>
        </div>
        <div class="networth blue-bg">
          <h3 class="yellow-font">$200 million net worth</h3>
        </div>
      </div>
      <div class="info yellow-bg">
        <p class="blue-font">David Karp (born July 6, 1986) is an American web
          developer and entrepreneur. He is the founder and CEO of the short-form
          blogging platform Tumblr. According to Forbes, Karp's net worth exceeds
          $200 million, and Tumblr has been valued at $800 million. Karp began
          his career as an intern under Fred Seibert at the animation company
          Frederator Studios, where he built the studio's first blogging platform
          and conceived, wrote, and edited their first internet video network,
          Channel Frederator. Karp went on to work for online parenting forum
          UrbanBaby until it was sold to CNET in 2006. Karp then started his own
          software consulting company, Davidville, where he worked with computer
          engineer Marco Arment on projects for clients. During a gap between
          contracts in 2006, the two began work on a microblogging website, which
          was launched as Tumblr in February 2007. As of September 1, 2016,
          Tumblr hosts over 312.2 million blogs. <span class="block">- Wikipedia</span></p>
      </div>
    </div>
  </div>
  <div class="faces face6 none">
    <span class="headshot">
      <img class="face" src="images/sundar-headshot.jpg" alt="" />
    </span>
    <div class="face_information">
      <div class="top yellow-bg">
        <div class="age yellow-bg">
          <h3 class="blue-font">44 y.o.</h3>
        </div>
        <div class="networth blue-bg">
          <h3 class="yellow-font">$1.05 billion net worth</h3>
        </div>
      </div>
      <div class="info yellow-bg">
        <p class="blue-font">Pichai Sundararajan (born 12 July 1972), known as
          Sundar Pichai, is an Indian American business executive. Pichai is the
          Chief Executive Officer (CEO) of Google Inc. Formerly the Product Chief
          at Google, Pichai's current role was announced on 10 August 2015, as
          part of the restructuring process that made Alphabet Inc. into Google's
          parent company, and he assumed the position on 2 October 2015. <span class="block">- Wikipedia</span></p>
      </div>
    </div>
  </div>
  <div class="arrow-right" ng-click="clickedRight()">
    <i class="fa fa-caret-right blue-font" aria-hidden="true"></i>
  </div>
</div>
