<div class="funfacts">
  <div class="factBtn fact1" ng-mouseover="showFact1()" ng-mouseleave="showFactInfo()">
    <img src="images/fact_circle.png" alt="" />
    <h4 class="blue-font">fun fact <span class="f_num">1</span></h4>
  </div>
  <div class="factBtn fact2" ng-mouseover="showFact2()" ng-mouseleave="showFactInfo()">
    <img src="images/fact_circle.png" alt="" />
    <h4 class="blue-font">fun fact <span class="f_num">2</span></h4>
  </div>
  <div class="factBtn fact3" ng-mouseover="showFact3()" ng-mouseleave="showFactInfo()">
    <img src="images/fact_circle.png" alt="" />
    <h4 class="blue-font">fun fact <span class="f_num">3</span></h4>
  </div>
  <div class="factBtn fact4" ng-mouseover="showFact4()" ng-mouseleave="showFactInfo()">
    <img src="images/fact_circle.png" alt="" />
    <h4 class="blue-font">fun fact <span class="f_num">4</span></h4>
  </div>
  <p class="blue-font" id="fact">
    hover over a fact to see them!
  </p>
</div>
