<div class="startups">
  <div class="slide">
    <div class="slide1 come block">
      <img class="logo" src="images/uber.png" alt="" />
      <p class="information">
        Uber Technologies Inc. is an American multinational online transportation
        network company headquartered in San Francisco, California. It develops,
        markets and operates the Uber mobile "app", which allows consumers with
        smartphones to submit a trip request, which the software program then
        automatically sends to the Uber driver nearest to the consumer, alerting
        the driver to the location of the customer. Uber drivers use their own
        personal cars.
        <span class="source">- Wikipedia</span>
      </p>
    </div>
    <div class="slide2 none">
      <img class="logo" src="images/slack.png" alt="" />
      <p class="information">
        Slack is a cloud-based team collaboration tool co-founded by Stewart
        Butterfield, Eric Costello, Cal Henderson, and Serguei Mourachov. Slack
        began as an internal tool used by their company, Tiny Speck, in the
        development of Glitch, a now defunct online game. Slack teams allow
        communities, groups, or teams to join through a specific URL or invitation
        sent by a team admin or owner. Although Slack was meant for organizational
        communication, it has been slowly turning into a community platform, a
        function for which users had previously used message boards or social
        media such as Facebook or LinkedIn groups.
        <span class="source">- Wikipedia</span>
      </p>
    </div>
    <div class="slide3 none">
      <img class="logo" src="images/postmates.png" alt="" />
      <p class="information">
        Postmates is a logistics company which operates a network of couriers
        who deliver goods locally. Postmates is closely compared to Uber because
        of its use of mobile phones to receive orders and dispatch delivery drivers.
        The service is part of a category of businesses that rely on mobile phone
        applications and their Global Positioning System capabilities to quickly
        match inventories and consumer demand. Postmates is an example of an
        on-demand company.
        <span class="source">- Wikipedia</span>
      </p>
    </div>
    <div class="slide4 none">
      <img class="logo" src="images/twitter.png" alt="" />
      <p class="information">
        Twitter is an online social networking service that enables users to send
        and read short 140-character messages called "tweets". Registered users
        can read and post tweets, but those who are unregistered can only read
        them. Users access Twitter through the website interface, SMS or mobile
        device app. Twitter was created in March 2006 by Jack Dorsey, Evan Williams,
        Biz Stone, and Noah Glass and launched in July 2006. The service rapidly
        gained worldwide popularity, with more than 100 million users posting
        340 million tweets a day in 2012. The service also handled 1.6 billion
        search queries per day.
        <span class="source">- Wikipedia</span>
      </p>
    </div>
    <div class="slide5 none">
      <img class="logo" src="images/netflix.png" alt="" />
      <p class="information">
        Netflix Inc. is an American multinational entertainment company. It
        specializes in and provides streaming media and video on demand online
        and DVD by mail. In 2013, Netflix added film and television production,
        as well as online distribution. Netflix largely focuses on its streaming
        service, which gives compatible devices access to Netflix's online library,
        allowing an average individual to access it. The two libraries differ
        markedly, with the disc library having more film titles available, while
        the streaming library has more Netflix original content.
        <span class="source">- Wikipedia</span>
      </p>
    </div>
    <div class="slide6 none">
      <img class="logo" src="images/paypal.png" alt="" />
      <p class="information">
        PayPal Holdings, Inc. is an American company operating a worldwide online
        payments system. Online money transfers serve as electronic alternatives
        to traditional paper methods like checks and money orders. PayPal is
        one of the world's largest Internet payment companies. The company
        operates as a payment processor for online vendors, auction sites and
        other commercial users, for which it charges a fee.
        <span class="source">- Wikipedia</span>
      </p>
    </div>
  </div>

  <div class="slideButtons">
    <div ng-click="startupSlide1()" class="btn s1 active"></div>
    <div ng-click="startupSlide2()" class="btn s2"></div>
    <div ng-click="startupSlide3()" class="btn s3"></div>
    <div ng-click="startupSlide4()" class="btn s4"></div>
    <div ng-click="startupSlide5()" class="btn s5"></div>
    <div ng-click="startupSlide6()" class="btn s6"></div>
  </div>
</div>
