<div class="weather">
  <div class="weather-block la">
    <h3 class="blue-font">los angeles</h3>
    <div class="circle">
      <span class="yellow-font" id="la-temp"></span>
    </div>
  </div>
  <div class="weather-block sf">
    <h3 class="blue-font">san francisco</h3>
    <div class="circle">
      <span class="yellow-font" id="sf-temp"></span>
    </div>
  </div>
  <div class="weather-block sv">
    <h3 class="blue-font">silicon valley</h3>
    <div class="circle">
      <span class="yellow-font" id="sv-temp"></span>
    </div>
  </div>
</div>
